
<!doctype html>
<html lang="en">
<head th:replace="public/fragments :: html_head">

</head>
<body id="top">

<div id="overlayer"></div>
<div class="loader">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div th:if="${confirm_account}" class="toast" data-delay="1000" style="position:fixed; top: 100PX; right: 10PX;z-index: 2000;width: 300px">
  <div class="toast-header" style="background-color: #1c7430">
    <strong class="mr-auto" style="color: white">Notice</strong>
    <small style="color: white">Just now</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true" style="color: white">&times;</span>
    </button>
  </div>
  <div class="toast-body" >
    <p th:text="'✅ ' +${confirm_account}"></p>
  </div>
  <script>
    $(document).ready(function(){
      $('.toast').toast('show');
    });
  </script>
</div>

<div th:if="${confirm_await}" class="toast" id="toast" data-delay="1000" style="position:fixed;top: 100PX; right: 10PX;z-index: 2000;width: 300px">
  <script>
    swal({
      title: 'Please check mail to forgot password!',
      /* text: 'Redirecting...', */
      icon: 'success',
      timer: 5000,
      buttons: true,
      type: 'success'
    })
  </script>
</div>

<div th:if="${forgot_error}" class="toast" id="toast" data-delay="1000" style="position:fixed;top: 100PX; right: 10PX;z-index: 2000;width: 300px">
  <script>
    swal({
      title: 'Email not existed',
      /* text: 'Redirecting...', */
      icon: 'error',
      timer: 3000,
      buttons: true,
      type: 'success'
    })
  </script>
</div>

<div class="site-wrap">

  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div> <!-- .site-mobile-menu -->


  <!-- NAVBAR -->
  <header th:replace="public/fragments :: header_menu" class="site-navbar mt-3">

  </header>

  <!-- HOME -->
  <section class="section-hero overlay inner-page bg-image" style="background-image: url('images/hero_1.jpg');" id="home-section">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1 class="text-white font-weight-bold">Quên mật khẩu</h1>

        </div>
      </div>
    </div>
  </section>


  <section class="site-section" style="margin-top: 10px">


    <div class="container">
      <form action="/user/uploadCv" method="post" enctype="multipart/form-data">
        <div class="row align-items-center mb-5">

          <div class="col-lg-4">
            <div class="row">
              <div class="col-6">

              </div>
            </div>
          </div>
        </div>
      </form>

      <form action="/user/forgot-password" method="post" >
        <div class="row align-items-center mb-5">
          <div class="col-lg-8 mb-4 mb-lg-0">
            <div class="d-flex align-items-center">
              <div>

              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="row">

              <div class="col-6">
                <button type="submit" class="btn btn-block btn-primary btn-md">Gửi </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-lg-12">
            <div class="p-4 p-md-5 border rounded" method="post">
              <h3 class="text-black mb-5 border-bottom pb-2">Quên mật khẩu</h3>
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="text-black" for="fname">Email</label>
                  <input type="text" id=""  name="email" class="form-control" placeholder="" required>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

    </div>
  </section>

  <footer th:replace="public/fragments :: footer" class="site-footer">

  </footer>

</div>

</body>
</html>